{% extends 'base.html' %}
{% load static %}

{% block title %}{{ pelicula.titulo }}{% endblock %}

{% block content %}

<main class="detalle">

    <img class="detalle__fondo"
         src="{% static 'images/portadas/'|add:pelicula.portada %}"
         alt="Portada de {{ pelicula.titulo }}">

    <a class="volver" href="{% url 'menu_peliculas' %}">Volver a películas</a>

    <div class="detalle__contenido">
        <h1 class="detalle__titulo">{{ pelicula.titulo }}</h1>
        <p class="detalle__texto">{{ pelicula.descripcion }}</p>
        <p class="detalle__calificacion">
            <strong>Calificación:</strong>
            {{ pelicula.calificacion }}
        </p>
    </div>

</main>

{% endblock %}
