{% extends 'base.html' %}
{% load static %}

{% block title %}Página principal{% endblock %}

{% block content %}

<main class="contenedor principal">

    <h2>Bienvenido</h2>
    <h3>
        Disfruta de las mejores películas
    </h3>
        <p class="entrada__calificacion">
        Contamos un un catálogo amplio de películas familiares y de anime!
        </p>
        <a id="catalogo-texto" href="{% url 'menu_peliculas' %}"><strong> Ver catálogo </strong></a>

        <img src="{% static 'images/portadas/portadafusionborn.jpg' %}" alt="Peli">


</main>

{% endblock %}
